<a href="https://colab.research.google.com/github/palpitation0/Machine-Learning-homework/blob/master/10%EA%B0%95_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving admission.csv to admission.csv

In [0]:
import numpy as np
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [0]:
adm = pd.read_csv('admission.csv')

In [7]:
adm.head(5)

   seq  admit   sat   gpa  rank
0    1      0  1910  3.61     3
1    2      1  2010  3.67     3
2    3      1  2050  4.00     1
3    4      1  2000  3.19     4
4    5      0  1960  2.93     4

In [0]:
x = adm.loc[:, 'sat':'rank']
y = adm['admit']

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [17]:
x_train.head()

      sat   gpa  rank
107  1950  3.13     2
336  1960  3.15     3
71   1880  2.92     4
474  1990  4.00     1
6    1970  2.98     1

In [12]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

400
100
400
100

In [0]:
lda = LDA()
proj = lda.fit(x_train,y_train).transform(x_train)
y_pred_lda = lda.predict(x_test)

In [0]:
errors = y_pred_lda != y_test

In [26]:
np.count_nonzero(errors)

25

In [0]:
crosstab = pd.crosstab(y_test, y_pred_lda, rownames=['y'], colnames=['y_pred'])

In [29]:
print(crosstab)

y_pred   0  1
y
0       68  2
1       23  7

In [0]:
from sklearn import linear_model

In [31]:
logreg = linear_model.LogisticRegression(C=1e8)
logreg.fit(x_train,y_train)
y_pred_logreg = logreg.predict(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [32]:
error = y_pred_logreg != y_test
np.count_nonzero(errors)

25

In [33]:
print(logreg.coef_)

[[-5.95963315e-04  5.68144390e-01 -6.06900752e-01]]

In [34]:
Xtab = pd.crosstab(y_test, y_pred_logreg, rownames=['y'], colnames=['y_pred'])
print(Xtab)

y_pred   0  1
y
0       69  1
1       25  5